@use '../abstracts' as *;
@use '../vendors/include-media' as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px // 10/16 = 62.5

  @include media('<=xl') {
    font-size: 75%;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  box-sizing: content-box;
  color: $color-mercury;
  background: $bg-gradient;
}

a:link,
a:visited {
  color: $color-orchid;
  @include transition15;
}

a:hover,
a:active {
  color: $color-azure;
}

::selection {
  background-color: $color-azure;
  color: inherit;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
