@use '../vendors/include-media' as *;

.navigation {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin: 5rem auto 0;

  @include media('<=xl') {
    margin: 2rem auto 0;
    width: 95%;
  }
}

.navigation .btn {
  margin-left: 2rem;
}
