@import url('https://fonts.googleapis.com/css?family=Work+Sans:800');

.form {
  width: 700px;
  background-color: #fcf23a;
  background-image: linear-gradient(
      30deg,
      #83cbfd 12%,
      transparent 12.5%,
      transparent 87%,
      #83cbfd 87.5%,
      #83cbfd
    ),
    linear-gradient(
      150deg,
      #83cbfd 12%,
      transparent 12.5%,
      transparent 87%,
      #83cbfd 87.5%,
      #83cbfd
    ),
    linear-gradient(
      30deg,
      #83cbfd 12%,
      transparent 12.5%,
      transparent 87%,
      #83cbfd 87.5%,
      #83cbfd
    ),
    linear-gradient(
      150deg,
      #83cbfd 12%,
      transparent 12.5%,
      transparent 87%,
      #83cbfd 87.5%,
      #83cbfd
    ),
    linear-gradient(
      60deg,
      #d9e021 25%,
      transparent 25.5%,
      transparent 75%,
      #d9e021 75%,
      #d9e021
    ),
    linear-gradient(
      60deg,
      #d9e021 25%,
      transparent 25.5%,
      transparent 75%,
      #d9e021 75%,
      #d9e021
    );
  background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

.msg {
  font-family: 'Work Sans';
}
